{% extends "app/layout.html" %}
{% block nav-caregivers %}class="active"{% endblock %}
{% load static from staticfiles %}
{% block script %}
<script type="text/javascript" src="{% static 'app/scripts/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/pages/wizard_steps.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/styling/switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/notifications/bootbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/notifications/sweet_alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/pages/components_modals.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/wizards/steps.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/forms/validation/validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/plugins/extensions/cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/pages/form_checkboxes_radios.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/js/pages/form_selectbox.js' %}"></script>
{% endblock %}
{% block content %}
			<!-- Main content -->
			<div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Caregivers</span></h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
				<!-- Content area -->
				<div class="content">

					<!-- Basic table -->
					<div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Caregiver List</h5>
                            <div class="heading-elements-container">
                                <div class="heading-elements-filters">
                                    <div class="heading-elements-label">
                                        Type
                                    </div>
                                    <div class="heading-elements-filter-container">
                                        <select class="selectbox-bootstrap btn-default">
                                            <option value="Employee">Employee</option>
                                            <option value="Contractor">Contractor</option>
                                            <option value="Volunteer">Volunteer</option>
                                            <option value="All">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="heading-elements-filters">
                                    <div class="heading-elements-label">
                                        Status
                                    </div>
                                    <div class="heading-elements-filter-container">
                                        <select class="selectbox-bootstrap btn-default">
                                            <option value="Active">Active</option>
                                            <option value="Demo">Demo</option>
                                            <option value="Prospect">Prospect</option>
                                            <option value="Terminated">Terminated</option>
                                            <option value="Suspended">Suspended</option>
                                            <option value="Quit">Quit</option>
                                            <option value="On Leave">On Leave</option>
                                            <option value="On Disability">On Disability</option>
                                            <option value="All">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="heading-elements-search">
                                    <form action="#" class="main-search">
                                        <div class="input-group content-group">
                                            <div class="has-feedback has-feedback-left">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div class="form-control-feedback">
                                                    <i class="icon-search4 text-muted text-size-base"></i>
                                                </div>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-info">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="heading-elements">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_full"><i class="icon-add position-left"></i> Add Caregiver</button>
                                </div>
                            </div>
                        </div>
                            <div class="panel-body">
                            </div>
						<div class="table-responsive">
							<table class="table table-bordered table-striped table-hover">
								<thead>
                                    <tr class="border-solid">
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Supervisor</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th style="width:140px;">Status</th>
                                        <th style="width:100px;">Type</th>
                                        <th style="width:100px;">Actions</th>
                                    </tr>
								</thead>
								<tbody>
									<tr>
										<td>Duck</td>
										<td>Donald</td>
										<td>Daffy Duck</td>
										<td>123-456-7890</td>
                                        <td>donaldduck@gmail.com</td>
                                        <td>Active</td>
                                        <td><span class="label label-primary label-striped label-caregiver">Employee</span></td>
                                        <td>
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                                <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                            </ul>
                                        </td>
									</tr>
									<tr>
                                        <td>Duck</td>
                                        <td>Donald</td>
                                        <td>Daffy Duck</td>
                                        <td>123-456-7890</td>
                                        <td>donaldduck@gmail.com</td>
                                        <td>Active</td>
                                        <td><span class="label label-primary label-striped label-caregiver">Employee</span></td>
                                        <td>
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                                <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                            </ul>
                                        </td>
									</tr>
									<tr>
                                        <td>Duck</td>
                                        <td>Donald</td>
                                        <td>Daffy Duck</td>
                                        <td>123-456-7890</td>
                                        <td>donaldduck@gmail.com</td>
                                        <td>Active</td>
                                        <td><span class="label label-warning label-striped label-caregiver">Contractor</span></td>
                                        <td>
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                                <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                            </ul>
                                        </td>
									</tr>
									<tr>
                                        <td>Duck</td>
                                        <td>Donald</td>
                                        <td>Daffy Duck</td>
                                        <td>123-456-7890</td>
                                        <td>donaldduck@gmail.com</td>
                                        <td>Active</td>
                                        <td><span class="label label-success label-striped label-caregiver">Volunteer</span></td>
                                        <td>
                                            <ul class="icons-list">
                                                <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                                <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                            </ul>
                                        </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /basic table -->
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->
{% endblock %}