{% extends "app/manage-office.html" %} 
{% block content %}
			<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage Office > Medications</span></h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Basic table -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Medications List</h5>
                <div class="heading-elements-container">
                    <div class="heading-elements-search">
                        <form action="#" class="main-search">
                            <div class="input-group content-group">
                                <div class="has-feedback has-feedback-left">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-muted text-size-base"></i>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="heading-elements">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_form_horizontal"><i class="icon-add position-left"></i> Add Medication</button>
                    </div>
                    </div>
                </div>
            <div class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr class="border-solid">
                            <th>Medication Type</th>
                            <th>Prescription Name</th>
                            <th>Dosage</th>
                            <th>Instructions</th>
                            <th>Pharmacy Name</th>
                            <th>Prescriped By</th>
                            <th style="width:100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Depressant</td>
                            <td>Amytal</td>
                            <td>10mg</td>
                            <td>Take 1 pill orally</td>
                            <td>CVS</td>
                            <td>Dr. Duck</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Depressant</td>
                            <td>Amytal</td>
                            <td>10mg</td>
                            <td>Take 1 pill orally</td>
                            <td>CVS</td>
                            <td>Dr. Duck</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Depressant</td>
                            <td>Amytal</td>
                            <td>10mg</td>
                            <td>Take 1 pill orally</td>
                            <td>CVS</td>
                            <td>Dr. Duck</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Depressant</td>
                            <td>Amytal</td>
                            <td>10mg</td>
                            <td>Take 1 pill orally</td>
                            <td>CVS</td>
                            <td>Dr. Duck</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /basic table -->
        <!-- Horizontal form modal -->
        <div id="modal_form_horizontal" class="modal fade">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Add Medication</h5>
                    </div>
                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Medication Name</label>
                                        <input type="text" placeholder="Amytal" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Medication Type</label>
                                        <select class="selectbox-bootstrap btn-default">
                                            <option value="Custom">Custom</option>
                                            <option value="RxNorm">RxNorm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Dosage</label>
                                        <input type="text" placeholder="10mg" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" placeholder="1 bottle" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Frequency</label>
                                        <input type="text" placeholder="Twice Daily" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input type="text" placeholder="Oral" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Time of Day</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-alarm"></i></span>
                                            <input type="text" class="form-control pickatime" placeholder="8:00 AM">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Given For</label>
                                        <input type="text" placeholder="Depression" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Precautions</label>
                                        <input type="text" placeholder="Barbituric acid allergy" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Instructions</label>
                                        <input type="text" placeholder="Place one pill under tongue" class="form-control">
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info  btn-loading" data-loading-text="<i class='icon-spinner4 spinner'></i>"><i class="icon-spinner4 position-left"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /horizontal form modal -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    {% endblock content %}
