{% extends "app/manage-office.html" %} 
{% block content %}
			<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage Office > Rate Types</span></h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Basic table -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Rate Types List</h5>
                <div class="heading-elements-container">
                    <div class="heading-elements-filters">
                        <div class="heading-elements-label">
                            Code Type
                        </div>
                        <div class="heading-elements-filter-container">
                            <select class="selectbox-bootstrap btn-default">
                                <option value="All">All</option>
                                <option value="Billed + Paid">Billed + Paid</option>
                                <option value="Client Only">Client Only</option>
                                <option value="Caregiver Only">Caregiver Only</option>
                            </select>
                        </div>
                    </div>
                    <div class="heading-elements-filters">
                        <div class="heading-elements-label">
                            Code State
                        </div>
                        <div class="heading-elements-filter-container">
                            <select class="selectbox-bootstrap btn-default">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="heading-elements-search">
                        <form action="#" class="main-search">
                            <div class="input-group content-group">
                                <div class="has-feedback has-feedback-left">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-muted text-size-base"></i>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="heading-elements">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_form_horizontal"><i class="icon-add position-left"></i> Add Rate Type</button>
                    </div>
                    </div>
                </div>
            <div class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr class="border-solid">
                            <th>Rate Code</th>
                            <th>Description</th>
                            <th>Rate Code Type</th>
                            <th>Code State</th>
                            <th style="width:100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td>CNA Hourly</td>
                            <td>Client Billed + Caregiver Paid</td>
                            <td>Active</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>CNA Hourly</td>
                            <td>Client Billed + Caregiver Paid</td>
                            <td>Active</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>CNA Hourly</td>
                            <td>Client Billed + Caregiver Paid</td>
                            <td>Active</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>CNA Hourly</td>
                            <td>Client Billed + Caregiver Paid</td>
                            <td>Active</td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /basic table -->
        <!-- Horizontal form modal -->
        <div id="modal_form_horizontal" class="modal fade">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Add Medication</h5>
                    </div>
                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Rate Code</label>
                                        <input type="text" placeholder="123" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" placeholder="CNA Hourly" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Rate Code Type</label>
                                        <select class="selectbox-bootstrap btn-default" id="type">
                                            <option value="Client Billed + Caregiver Paid">Client Billed + Caregiver Paid</option>
                                            <option value="Client Only">Client Only</option>
                                            <option value="Caregiver Only">Caregiver Only</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3" id="paid_unpaid">
                                    <label>Paid or Unpaid</label>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="paid-unpaid" class="styled" checked="checked">
                                            Paid
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="paid-unpaid" class="styled">
                                            Unpaid
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3" id="billed_unbilled">
                                    <label>Billed or Unbilled</label>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="billed-unbilled" class="styled" checked="checked">
                                            Billed
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="billed-unbilled" class="styled">
                                            Unbilled
                                        </label>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info  btn-loading" data-loading-text="<i class='icon-spinner4 spinner'></i>"><i class="icon-spinner4 position-left"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /horizontal form modal -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    {% endblock content %}
