{% extends "app/manage-office.html" %} 
{% block content %}
			<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage Office > Task Codes</span></h4>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Basic table -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Task Codes</h5>
                <div class="heading-elements-container">
                    <div class="heading-elements-filters">
                        <div class="heading-elements-label">
                            Code Type
                        </div>
                        <div class="heading-elements-filter-container">
                            <select class="selectbox-bootstrap btn-default">
                                <option value="All">All</option>
                                <option value="ADL Code">ADL Code</option>
                                <option value="Custom Code">Custom Code</option>
                            </select>
                        </div>
                    </div>
                    <div class="heading-elements-search">
                        <form action="#" class="main-search">
                            <div class="input-group content-group">
                                <div class="has-feedback has-feedback-left">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-muted text-size-base"></i>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="heading-elements">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_form_horizontal"><i class="icon-add position-left"></i> Add Task Code</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr class="border-solid">
                            <th>Code</th>
                            <th>Description</th>
                            <th>Code Type</th>
                            <th style="width:100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>98</td>
                            <td>Pet Care</td>
                            <td><span class="label label-primary label-striped label-task-code">ADL Code</span></td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>98</td>
                            <td>Pet Care</td>
                            <td><span class="label label-warning label-striped label-task-code">Custom Code</span></td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>98</td>
                            <td>Pet Care</td>
                            <td><span class="label label-warning label-striped label-task-code">Custom Code</span></td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>98</td>
                            <td>Pet Care</td>
                            <td><span class="label label-primary label-striped label-task-code">ADL Code</span></td>
                            <td>
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                    <li class="text-danger-600"><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /basic table -->
        <!-- Horizontal form modal -->
        <div id="modal_form_horizontal" class="modal fade">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Add Task Code</h5>
                    </div>
                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" placeholder="1234" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Code Description</label>
                                        <input type="text" placeholder="Pet Care" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Code Type</label>
                                        <select class="selectbox-bootstrap btn-default">
                                            <option value="ADL Code">ADL Code</option>
                                            <option value="Custom Code">Custom Code</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info  btn-loading" data-loading-text="<i class='icon-spinner4 spinner'></i>"><i class="icon-spinner4 position-left"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /horizontal form modal -->
        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    {% endblock content %}
